.StackWrapper {
  display: flex;
  flex-direction: column;
  align-self: flex-end;

  &-Element {
    height: 50px;
    width: 100px;

    &:first-child {
      border: 1px solid black;
    }

    border-right: 1px solid black;
    border-bottom: 1px solid black;
    border-left: 1px solid black;

    &_isActive {
      background-color: lightgreen;
    }

    &_isRed {
      background-color: red;
    }
  }
}